header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    background-color: beige;
    border-radius: 5px;
}

#image img {
    max-width: 60px;
    border-radius: 50%;
}

#image h1 {
    display: none;
}

header nav {
    display: flex;
    background-color: beige;
    padding: 5px;
    border-radius: 10px;
}

header nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}